html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.titulo {
  color: rgb(34, 34, 177);
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.bg-register {
  background: url("../assets/img/bg-paper.jpg.jpg");
  padding: 20px 0px;
}

.bg-register h2 {
  margin-bottom: 20px;
}

.reg-form-area {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #8a8484;
}

footer {
  padding: 20px 0px;
  background-color: #222;
  color: #fff;
}

.signin {
  flex-basis: 100%;
  justify-content: flex-end;
  column-gap: 4%;
}

.main-container {
  background-color: #edf0f7;
  width: 100%;
  max-width: 100%;
}

.d-title {
  background-color: #fff;
  border-radius: 6px;
  padding: 13px 25px;
  margin-bottom: 20px;
}

.d-title h2 {
  margin-bottom: 0px;
}

.new-register {
  background-color: #fff;
  border-radius: 6px;
  padding: 13px 25px;
}

.table-container {
  background-color: #fff;
  padding: 20px;
}

.custom-gbtn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.justify-contente-space-between {
  justify-content: space-between;
}
