html {
  height: -webkit-fill-available;
}

body {
  color: #fff;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.titulo {
  color: rgb(34, 34, 177);
}
.title-welcome-back {
  font-size: 46px;
}
label {
  color: white;
}
.color-links {
  color: teal;
  font-weight: 600;
  font-size: larger;
}
.font-label {
  font-weight: 700;
  font-size: larger;
}

/*
// ======================================================== // ====================================== //
*/
/*
Home 
*/
.main-home {
  background-image: url("../assets/img/mejores-practicas-diseno-web-es-1024x512.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-link {
  color: #fff;
}

main {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
.btn {
  border-radius: 8px;
}
.background-web-taskit {
  background-color: #160e4e;
  height: 100vh;
}
.bg-register {
  min-height: 85vh;
  padding: 20px 0px;
}

.bg-register h2 {
  margin-bottom: 20px;
}

footer {
  padding: 15px 0px;
  background-color: #222;
  color: #fff;
}

.signin {
  flex-basis: 100%;
  justify-content: flex-end;
  column-gap: 4%;
}
.bg-color-ui {
  background-color: #4723d9;
}
.main-container {
  width: 100%;
  max-width: 100%;
}

.d-title {
  text-align: center;
  background-color: mediumslateblue;
  border-radius: 6px;
  padding: 13px 25px;
  margin-bottom: 20px;
}

.d-title h2 {
  margin-bottom: 0px;
}

.new-register {
  border-radius: 6px;
  padding: 13px 25px;
}

.table-container {
  padding: 20px;
}

.custom-gbtn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.justify-contente-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.color-white {
  color: white;
}
td {
  font-size: larger;
}
.text-align {
  text-align: center;
}
.lead {
  text-align: center;
}
h1 {
  text-align: center;
}

/*
   Home 
   */
/*
// ======================================================== // ====================================== //
*/

/*
   Login
*/
.color-bg-input {
  background-color: gray;
  color: #fff;
}
.main-login {
  background-color: #181b32;
  /* background: linear-gradient(190deg, #2f1fa6, #37a7df); */
}

.login-postion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.reg-form-area {
  min-height: 30vh;
  padding: 10px;
}

/*
   Login
*/
/*
// ======================================================== // ====================================== //
*/
/*
 Categories
*/
.main-viwes-style {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: #25292e;
}

/*
 Categories
*/
