<%- include('../template/head') -%>
   <%- include('../template/nav') -%>

      <div>
         <div class="container">
            <h2>Manten el orden de tus tareas con Taskit</h2>
            <button class="btn btn-primary">Comienza ahora</button>
         </div>
      </div>

      <%- include('../template/footer') -%>