<%- include('../template/head') -%>
   <%- include('../template/nav') -%>

      <div>
         <section class="background-web-taskit">
            <div class="container">
               <h2>Manten el orden de tus tareas con Taskit</h2>
               <a class="btn btn-primary" href="/registro">Comienza ahora</a>
            </div>
         </section>

      </div>

      <%- include('../template/footer') -%>