<%- include('../template/head') -%>
   <div class="main-home ">
      <div class=" container d-flex mx-auto flex-column">
         <div class="mb-auto mt-4">
            <div>
               <h3 class="float-md-start mb-0">Taskit</h3>
               <nav class="nav nav-masthead justify-content-center float-md-end">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/login">Login</a>
                  <a class="nav-link" href="/registro">Register</a>
               </nav>
            </div>
         </div>
         <main class="px-3 mt-4">
            <div class="container">
               <div class="row">
                  <div class="col-11 d-flex align-items-center flex-column justify-content-center col-md-5">
                     <h1>Keep the order of your Tasks.</h1>
                     <p class="lead">with us you can sort your tasks by categories, and add custom statuses to them so
                        that you achieve your goals with the
                        greatest possible order
                        .</p>
                     <p class="lead mt-4">
                        <a href="/registro" class="btn btn-lg btn-secondary  fw-bold border-white bg-white">Empezar</a>
                     </p>
                  </div>
                  <div class="col-1 col-md-7"></div>
               </div>
            </div>
         </main>
      </div>
      <%- include('../template/footer') -%>
   </div>