<%- include('../template/head') -%>
   <%- include('../template/nav') -%>

      <div>
         <section class="background-web-taskit">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <h2 class="color-white">Manten el orden de tus tareas con Taskit</h2>
                     <a class="btn btn-primary" href="/registro">Comienza ahora</a>
                  </div>
                  <div>
                     <img src="" alt="">
                  </div>
               </div>
            </div>
         </section>

      </div>

      <%- include('../template/footer') -%>