<%- include('../template/head') -%>

   <div>

      <div>
         <header class="mb-auto ">
            <div>
               <h3 class="float-md-start mb-0">Taskit</h3>
               <nav class="nav nav-masthead justify-content-center float-md-end">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                  <a class="nav-link" href="/login">Login</a>
                  <a class="nav-link" href="/registro">Register</a>
               </nav>
            </div>
         </header>
      </div>
      <div class="bg-register ">
         <div class="container ">
            <div class="row">
               <h2 class="text-center color-white">Registro de usuarios</h2>
            </div>
            <div class="row justify-content-center">
               <div class="col-10 col-md-6  reg-form-area">
                  <form action="/registro" method="POST">
                     <div class="mb-3">
                        <label for="firstname">Nombre</label>
                        <input class="form-control" type="text" name="firstname">
                     </div>
                     <div class="mb-3">
                        <label for="lastname">Appelido</label>
                        <input class="form-control" type="text" name="lastname">
                     </div>
                     <div class="mb-3">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email">
                     </div>
                     <div class="mb-3">
                        <label for="password">Contraseña</label>
                        <input class="form-control" type="password" name="password">
                     </div>
                     <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>
                  <h6 class="mt-2">¿Ya tienes una cuenta? <a href="/login">inicia session</a></h6>
               </div>
            </div>
         </div>
      </div>
   </div>
   <%- include('../template/footer') -%>