<%- include('../template/head') -%>
   <main>
      <div class="d-flex p-3 main-container ">
         <div class="container ">
            <div class="row">
               <div class="d-title ">
                  <h1>Restablecer Contraseña</h1>
               </div>
            </div>
            <div class="row mt-4 justify-content-center">
               <div class="col-6 new-register">
                  <form action="/auth/reset-password" method="POST">
                     <div class="mb-3">
                        <label for="email">Déjanos tu correo de registro, ¡nos comunicaremos contigo! </label>
                        <input id="email" class="form-control" name="email" type="email" required />
                     </div>
                     <button class="btn btn-primary" type="submit">
                        Enviar
                     </button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </main>
   <%- include('../template/footer-auth') -%>