<%- include('../template/head') -%>
   <div class="main-viwes-style">
      <div class="container ">
         <main>
            <div class="d-flex p-3 main-container ">
               <div class="container ">
                  <div class="row justify-content-center">
                     <div class="col-10 col-md-6 ">
                        <h1>Restablecer Contraseña</h1>
                     </div>
                  </div>
                  <div class="row mt-4 justify-content-center">
                     <div class="col-12 col-md-6 new-register">
                        <form action="/auth/reset-password" method="POST">
                           <div class="row">
                              <div class="mb-3">
                                 <label for="email">Déjanos tu correo de registro, ¡nos comunicaremos contigo! </label>
                                 <input id="email" class="form-control" name="email" type="email" required />
                              </div>
                           </div>
                           <div class="d-flex justify-content-center">
                              <button class="btn btn-primary " type="submit">
                                 Enviar
                              </button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>
   </div>
   <%- include('../template/footer-auth') -%>